body {
    background-image:url(Image/JOR.jpg);
    font-family:sans-serif;
}
.Box{
    position:absolute;
    margin-top:7%;
    margin-left:17%;
    width:65%;
    height:75%;
    background:rgba(0,0,0,0.8);
    padding:40px;
    box-shadow:0 15px 25px rgba(0,0,0,0.5);
    color:white;
}
.Header{
    color:white;
    text-align:center;
    
}
input[type="text"]{
    width:100%;
    font-size:16px;
    color:white;
    padding-bottom:30px;
    border:0;
    border-bottom:1px solid white;
    outline:none;
    background:transparent;

}
input[type="submit"]{
    background-color:#03a9f4;
    border:0;
    color:white;
    height:35px;
    width:100%;
    cursor:pointer;
    margin-top:5px;
    border-radius:5px;
}

